<app-header />
<main>
  <ul id="users">
    <li>
      <app-member [name]="user[0].name" [avatar]="user[0].avatar" />
    </li>
    <li>
      <app-member [name]="user[1].name" [avatar]="user[1].avatar" />
    </li>
    <li>
      <app-member [name]="user[2].name" [avatar]="user[2].avatar" />
    </li>
    <li>
      <app-member [name]="user[3].name" [avatar]="user[3].avatar" />
    </li>
    <li>
      <app-member [name]="user[4].name" [avatar]="user[4].avatar" />
    </li>
    <li>
      <app-member [name]="user[5].name" [avatar]="user[5].avatar" />
    </li>
  </ul>
</main>
